body {
    background-color: #012030;
    color: whitesmoke;

}

header {
    background-color: #033445;
    color: white;
}

p span{
    color: #c80037;
    font-weight: bold;
}


.competition li:hover {
    background-color: #033445;
    border-bottom:3px #c80037 solid ;
}

.competition li {
    border-bottom: 1px white solid;
}

.competition li:first-child {
    border-top: 1px white solid;
}

.right_menu button {
    border: 3px solid white;
}

.right_menu button:hover {
    background-color: #012030;
}


a {
    color: rgb(192, 192, 192);

}

a:hover {

    color: whitesmoke;
    border-bottom: 3px #c80037 solid;
}

table {
    border: 3px solid white;
}

table th {
    background-color: #033445;
}

form{
    border: 5px solid white;
    background-color:#033445 ;
    box-shadow: 0px 5px 5px 0.5px white;
}