body {
    background-color: #EAE7DC;
    color: black;
}



header {
    background-color: #D8C3A5;
    border-bottom: 2px black solid;
    color: black;
}

.competition li:hover {
    background-color: #ebdcc7;
    border-bottom:3px #c80037 solid ;
}

.competition li {
    border-bottom: 1px black solid;
}

.competition li:first-child {
    border-top: 1px black solid;
}

.right_menu button {
    border: 3px solid black;
}

.right_menu button:hover {
    background-color: #EAE7DC;
}

a {
    color: rgb(92, 92, 92);
}

a:hover {
    color: black;
    border-bottom: 4px #E85A4F solid;
}

table {
    border: 3px solid black;
}

table th {
    background-color: #D8C3A5;
}

form{
    border: 5px solid black;
    background-color:#D8C3A5 ;
    box-shadow: 0px 5px 5px 0.5px black;
}