body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



header {
    font-size: 25px;
    font-weight: 600;
    width: 80%;
    margin: auto;
}

header p {
    text-align: center;
    color: #FF0000;
}

h1 {
    background-color: #FFBD59;
    padding: 10px;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.nav li {
    background-color: #FFBD59;
    padding: 15px;
    margin-left: 10px;
    list-style-position: inside;
    text-align: center;
}

.nav li:first-child {
    margin-left: 0;
}


main {
    margin-top: 30px;
    font-size: 19px;
    width: 80%;
    margin: auto;
}

.list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
}

.list li {
    border: 3px solid black;
    width: 25%;
    height: 400px;
    margin-left: 50px;
}

.list li:first-child {
    margin-left: 0;
}

.list span {
    clip-path: circle(40%);
    background-color: #FFBD59;
    padding: 25px;
    font-weight: 900;
}

.main p {
    font-size: 17px;
}

main h2 {
    margin-top: 50px;
}

.img_div {
    padding: 25px;
    height: 200px;
    margin-bottom: 10px;
}

.list img {
    width: 100%;
    height: 35%;

}

.level {
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    text-align: justify;
}

.level div {
    width: 30%;
}

footer{
    display: flex;
    align-items: center;
    height: 65px;
    margin-top: 10px;
}

footer div{
    width: 75%;
    background-color: black;
    color: white;
    line-height: 20px;
    height: 65px;
    padding-left: 20px;
}

footer ul{
    display: flex;
    justify-content: space-around;
    width: 25%;
    list-style: none;
}

footer img{
    width: 65px;
    height: 62px;
}